
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}

.header-container {
  position: relative;
  width: 100%;
}
/* header image styling */
.header-img-container > img {
  width: 100%;
  height: 600px;
}

/*navbar styling*/

.header-top{
  width: 100%;
  height: 75px;
  background-color: #305964;
}

.persistent-header-top {
  width: 100%;
  height: 75px;
  background: #305964;
  position: fixed;
  top: 0;
  opacity: .9;
  z-index: 2;
}

.navbar-dropdown{
  position: absolute;
  top: 10px;
  right: 110px;
  display: none;
}

.navbar-dropdown li
{
	list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0;
}

.menu-item:hover {
  text-decoration: underline;
}

.menu-item li:hover {
	background:#a6a6a6;
}

.navbar-dropdown a {
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:700;
	font-size:1.25em;
	line-height:32px;
	padding:0 15px;
}

.navbar-item {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
}

.navbar-item li {
	float:none;
	width:200px;
}

.navbar-item a {
	line-height:120%;
	padding:10px 15px;
}

.navbar-item ul {
	top:0;
	left:100%;
}

.navbar-dropdown  li:hover > ul {
	display:block;
  background-color: #305964;
  opacity: .9;
}

/*header text styling*/
.header-text-container {
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 1;
}

.header-text {
  font-size: 12em;
  color: #ffffff;
  margin: 0;
  padding: 0;
}


/* styling the content */
.content-container {
  width: 100%;
}

.content-container-1 {
  width: 65%;
  margin: 150px auto;
  font-size: 1.5em;
}

.content-container-2 {
  width: 100%;
  height: 300px;
  background-color: #d8d8d8;
  font-size: 2em;
  padding-top: 70px;
  box-sizing: border-box;
}

.content-2-text-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #305964;
}

.content-container-3 {
  width: 65%;
  margin: 150px auto;
  font-size: 1.5em;
}

/* styling the footer */

.footer-container {
  width: 100%;
  height: 75px;
  background-color: #305964;
  position: relative;
}

.footer-text-container {
  position: absolute;
  right: 10px;
  bottom: 25px;
  color: #fff;
}

/*setting css for non-mobile*/
/*@media (min-width: 700px){
  .navbar-dropdown{
    display: inline-block;
  }
}*/

/*setting css for 1080p screen*/
@media (min-width: 1500px) {
  .header-img-container > img {
    width: 50%;
    height: 700px;
  }
  .navbar-dropdown{
    display: inline-block;
  }
}
