
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}


/*navbar styling*/

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar-default {
    background-color: #305964;
    margin: 0;
    z-index: 2;
    border: none;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #d8d8d8;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #d8d8d8;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #d8d8d8;
}

.navbar.scrolled {
  background-color: #305964;
  opacity: .9;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #305964;
    color:#ffffff;
  }



/*jumbotron style*/
.jumbotron {
 background-image: url(../img/header-img.jpeg);
 background-size: cover;
 height: 400px;
 color: #fff;
 text-shadow: 2px 2px #000;
}

.container {
 margin-top: 175px;
 margin-left: 5px;
}

.container h1 {
 font-size: 4em;
 margin: 0;
}

.container p {
 font-size: 1.25em;
}

.container p a {
  text-shadow: none;
  font-size: 1.25em;
}


/* styling the content */
.content-container {
  width: 100%;
}

.content-container-1 {
  width: 95%;
  margin: 15px auto;
}

.content-container-1 h3 {
  font-size: 1.5em;
  font-family: sans-serif;
}

.content-container-2 {
  width: 100%;
  height: 100px;
  background-color: #d8d8d8;
  box-sizing: border-box;
  position: relative;
}

.content-2-text-container h3 {
  margin: 0 auto;
  width: 90%;
  position: absolute;
  top: 25px;
  right: 20px;
  text-align: center;
  color: #305964;
  font-size: 1.5em;
}

.content-container-3 {
  width: 95%;
  margin: 15px auto;
}

.content-container-3 h3 {
  font-size: 1.5em;
  font-family: sans-serif;
}

/* styling the footer */

.footer-container {
  width: 100%;
  height: 50px;
  background-color: #305964;
}

.footer-text-container {
  color: #fff;
  line-height: 50px;
  float: right;
  margin-right: 10px;
}


/*styling for iphone 6 screen and up*/
@media (min-width: 374px) and (max-width: 573px) {
  /*styling jumbotron*/
  .jumbotron {
    height: 500px;
  }
  .container {
   margin-top: 250px;
   margin-left: 5px;
  }

  .container h1 {
   font-size: 5em;
  }

  /*styling content*/
  .content-container-1 {
    width: 90%;
    margin: 25px auto;
  }

  .content-container-3 {
    width: 90%;
    margin: 25px auto;
  }

}

/*styling for landscape phones*/
@media (min-width: 574px) and (max-width: 765px) {
  .content-2-text-container h3 {
    top: 37px;
    right: 25px;
  }
}

/*styling for portrait tablets*/

@media (min-width: 766px) and (max-width: 949px){

  /*styling the jumbotron*/

  .jumbotron {
    height: 600px;
  }

  .container {
   margin-top: 350px;
   margin-left: 15px;
  }

  /*styling the content */

  .content-container-1 {
  margin: 50px auto;
  }

  .content-container-3 {
  margin: 50px auto;
  }

  .content-2-text-container h3  {
    font-size: 1.75em;
    position: inherit;
    line-height: 100px;
    white-space: nowrap;
  }

}

/*styling for landscape tablets */
@media (min-width: 950px) and (max-width: 1029px){
  /*styling the jumbotron*/
  .jumbotron {
    height: 600px;
  }

  .container {
   margin-top: 300px;
   margin-left: 30px;
  }

  .container h1 {
   font-size: 7em;
  }

  .container p {
    font-size: 2em;
  }

  .container p a {
    font-size: .75em;
  }

  /*styling the content*/
  .content-2-text-container h3 {
    font-size: 2.25em;
    position: inherit;
    line-height: 100px;
    white-space: nowrap;
  }
}



/*styling for medium screen*/
@media (min-width: 1030px) and (max-width: 1499px) {

  /*styling the jumbotron*/

  .jumbotron {
    height: 600px;
  }

  .container {
   margin-top: 250px;
   margin-left: 50px;
  }

  .container h1 {
   font-size: 8em;
   margin: 0;
  }

  .container p {
   font-size: 2.5em;
  }

  /*stying the content*/
  .content-container-1 {
    width: 70%;
    margin: 75px auto;
  }
  .content-container-1 h3 {
    font-size: 1.5em;
  }

  .content-2-text-container h3 {
    font-size: 2.25em;
    position: inherit;
    line-height: 200px;
    white-space: nowrap;
  }

  .content-container-2 {
    height: 200px;
  }

  .content-container-3 {
    width: 70%;
    margin: 75px  auto;
  }

  .content-container-3 h3 {
    font-size: 1.5em;
    font-family: sans-serif;
  }



}


/*styling for 1080p screen*/

@media (min-width: 1500px) {

  /*styling the jumbotron*/
  .jumbotron {
    height: 800px;
  }

  .container {
    margin-top: 450px;
    margin-left: 75px;
  }

  .container h1 {
    font-size: 10em;
  }

  /*stying the content*/
  .content-container-1 h3 {
    font-size: 2em;
    width: 65%;
    margin: 75px auto;
  }

  .content-2-text-container h3  {
    font-size: 3em;
    position: inherit;
    line-height: 200px;
    white-space: nowrap;
  }

  .content-container-2 {
    height: 200px;
  }

  .content-container-3 h3 {
    width: 65%;
    margin: 75px auto;
    font-size: 2em;
  }


}
