
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}


/*navbar styling*/

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar-default {
    background-color: #305964;
    margin: 0;
    z-index: 2;
    border: none;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #d8d8d8;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #d8d8d8;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #d8d8d8;
}

.navbar.scrolled {
  background-color: #305964;
  opacity: .8;
}

/*jumbotron style*/
.jumbotron {
 background-image: url(../img/header-img.jpeg);
 background-size: cover;
 height: 600px;
 color: #fff;
 text-shadow: 2px 2px #000;
}

.container {
 margin-top: 275px;
 margin-left: 50px;
}

.container h1 {
 font-size: 8em;
 margin: 0;
}

.container p {
 font-size: 2.5em;
}

.container p a {
  text-shadow: none;
}


/* styling the content */
.content-container {
  width: 100%;
}

.content-container-1 {
  width: 65%;
  margin: 100px auto;
}

.content-container-1 h3 {
  font-size: 1.5em;
  font-family: sans-serif;
}

.content-container-2 {
  width: 100%;
  height: 300px;
  background-color: #d8d8d8;
  box-sizing: border-box;
}

.content-2-text-container h3 {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #305964;
  font-size: 2.25em;
  line-height: 300px;
  white-space: nowrap;
}

.content-container-3 {
  width: 65%;
  margin: 100px auto;
}

.content-container-3 h3 {
  font-size: 1.5em;
  font-family: sans-serif;
}

/* styling the footer */

.footer-container {
  width: 100%;
  height: 50px;
  background-color: #305964;
}

.footer-text-container {
  color: #fff;
  line-height: 50px;
  float: right;
  margin-right: 10px;
}


/*setting css for 1080p screen*/

@media (min-width: 1500px) {
  .jumbotron {
    height: 800px;
  }

  .container {
    margin-top: 425px;
    margin left: 75px;
  }

  .container h1 {
    font-size: 10em;
  }

  .content-container-1 h3 {
    font-size: 2em;
  }

  .content-2-text-container h3  {
    font-size: 3em;
  }

  .content-container-3 h3 {
    font-size: 2em;
  }
}
